           @media (min-width: 992px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="65b5ad40-ff92-f7bf-f881-b65ca62b3dc0"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="231258aa-17f0-1132-84f0-51f1f40d4ff7"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="2594619b-ec6f-d838-4851-126d9fcecf17"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="55ed8060-1050-fb89-ab1c-bb1f76b7fdb5"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="112a9f1d-3c1f-d90d-86a6-a894e1c6d8ad"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="7bf7b7b5-6bce-a434-8af2-b478ca3d69f1"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="8060f6e4-d93e-66e8-c98f-c4414b0d6d1a"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="99dca8d4-c866-9032-78c5-d628c6dbe84b"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="26a3201b-80a8-2e41-4e7e-2a8eb9be1f29"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="a844aab0-ee0d-2c0f-7e3a-5df4f0fcc0c7"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="9c5ff5f4-2fac-4980-bc65-1ddba5da037b"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="13df26bb-607c-6e15-5fb6-aaacb3ffbdca"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="a3d0659f-0528-d07c-e134-112cc806b5c3"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="2e4b3a1d-b67d-a42e-12ff-052a76ff6128"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="27634843-853c-c249-9ad3-e06ae2cc56f4"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="ef1b96a3-8fda-5488-beaa-21048ae668ae"] {
          width: 7em;
          height: 7em;
        }
      }
      @media (max-width: 991px) and (min-width: 768px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="65b5ad40-ff92-f7bf-f881-b65ca62b3dc0"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="231258aa-17f0-1132-84f0-51f1f40d4ff7"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="2594619b-ec6f-d838-4851-126d9fcecf17"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="55ed8060-1050-fb89-ab1c-bb1f76b7fdb5"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="112a9f1d-3c1f-d90d-86a6-a894e1c6d8ad"] {
          opacity: 0;
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="7bf7b7b5-6bce-a434-8af2-b478ca3d69f1"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="8060f6e4-d93e-66e8-c98f-c4414b0d6d1a"] {
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="99dca8d4-c866-9032-78c5-d628c6dbe84b"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="26a3201b-80a8-2e41-4e7e-2a8eb9be1f29"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="a844aab0-ee0d-2c0f-7e3a-5df4f0fcc0c7"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="9c5ff5f4-2fac-4980-bc65-1ddba5da037b"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="13df26bb-607c-6e15-5fb6-aaacb3ffbdca"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="a3d0659f-0528-d07c-e134-112cc806b5c3"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="2e4b3a1d-b67d-a42e-12ff-052a76ff6128"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="27634843-853c-c249-9ad3-e06ae2cc56f4"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
      }
      @media (max-width: 767px) and (min-width: 480px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="7bf7b7b5-6bce-a434-8af2-b478ca3d69f1"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bbcaeac5-4042-3bf0-f52b-c0738bbbc4a3"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
      }
      @media (max-width: 479px) {
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="7bf7b7b5-6bce-a434-8af2-b478ca3d69f1"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
        html.w-mod-js:not(.w-mod-ix)
          [data-w-id="bbcaeac5-4042-3bf0-f52b-c0738bbbc4a3"] {
          -webkit-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 3vh, 0) scale3d(1, 1, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 0;
        }
      }
     
     
     /* style tag 2 */
     @media screen and (min-device-width: 767px) {
        .cursor-w {
          mix-blend-mode: difference;
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        .body::-webkit-scrollbar {
          display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .body {
          -ms-overflow-style: none; /* IE and Edge */
          overflow: -moz-scrollbars-none; /* Firefox */
        }
        :root {
          scrollbar-width: none !important;
        }
      }
